APP_ENV=local
APP_DEBUG=true
APP_KEY=hmSHBAamxqfhZCI4ouksiVtfFqtRpw8P

DB_HOST=127.0.0.1
DB_DATABASE=DB_NAME
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null

PATIENT_TABLE_DETAIL=admission,pad,pad_med
